<div class='flex flex-col items-center'>
  <h2 class='text-2xl'>{{headline}}</h2>
  <p id='bite-content'>{{content}}</p>
  <input type='text' class='edit-input hidden' id='bite-update' />
  <button class='btn btn-sm btn-danger hidden' id='edit-submit'>Submit Edit</button>

  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <div class='bite-list mb-2'>
    <div class='bite-buttons'>
      {{#isEqual sessionUser user_id}}
        {{! IF session.user_id === user_id, THEN... }}
        <button
          class='btn btn-sm btn-danger'
          id='bite-edit'
          data-id='{{id}}'
        >EDIT THIS BITE</button>
        <button
          class='btn btn-sm btn-danger'
          id='bite-delete'
          data-id='{{id}}'
        >DELETE THIS BITE</button>
      {{/isEqual}}
    </div>
  </div>

  {{#if photos.length}}
    {{#each photos as |photo|}}
      <div class='flex items-start mb-2'>
        <img class='mr-4' src='{{photo.image_url}}' alt='Bite Image' />

        <div>
          <h2 class='text-2xl'>{{headline}}</h2>
          <p id='bite-content'>{{content}}</p>
          <input type='text' class='edit-input hidden' id='bite-update' />
          <button class='btn btn-sm btn-danger hidden' id='edit-submit'>Submit
            Edit</button>
          <p>Created by {{user.name}} on {{format_date date_created}}</p>
        </div>

        <div>
          {{! TO DO: add conditional language so only the owner of a photo can delete the photo }}
          <button
            class='btn btn-sm btn-danger'
            id='photo-delete'
            data-id='{{photo.id}}'
          >DELETE THIS PHOTO</button>
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{#if comments.length}}
    <h3>Comments</h3>
    {{#each comments as |comment|}}
      <div>
        <p id='ebite-content' data-id='{{comment.id}}'>{{comment.content}}</p>
        <input
          type='text'
          class='edit-input hidden'
          id='ebite-update'
          data-id='{{comment.id}}'
        />
        <button
          class='btn btn-sm btn-danger hidden'
          id='edit-submit'
          data-id='{{comment.id}}'
        >Submit edit</button>
        <p>Created by
          {{comment.user.name}}
          on
          {{format_date comment.date_created}}</p>

        <div class='comment-buttons flex justify-center'>
          <div class='edit-buttons'>
            <button
              class='btn btn-sm btn-danger'
              id='ebite-edit'
              data-id='{{comment.id}}'
            >EDIT COMMENT</button>
            <button
              class='btn btn-sm btn-danger hidden'
              id='edit-submit'
              data-id='{{comment.id}}'
            >Submit edit</button>
          </div>
          <div class='delete-buttons'>
            <button
              class='btn btn-sm btn-danger'
              id='comment-delete'
              data-id='{{comment.id}}'
            >DELETE THIS COMMENT</button>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  <div class='mt-4'>
    <div>
      <h3>Add a comment:</h3>
      <form class='form new-comment-form'>
        <div class='form-group'>
          <input
            class='form-input'
            type='text'
            id='comment-content'
            name='comment-content'
          />
        </div>
        <div class='form-group'>
          <button
            type='submit'
            class='btn btn-primary'
            id='comment-submit'
            data-id='{{id}}'
          >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/edit.js'></script>
<script src='/js/comments.js'></script>
<script src='/js/photos.js'></script>
<script src='/js/biteDelete.js'></script>