
<div class="text-center">
  <h2>{{headline}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p id="bite-content">{{content}}</p>

  <p>Created by {{user.name}} on {{format_date date_created}}</p>


  <div class="col-md-6 bite-list">
    <div class="row mb-2">
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" id="bite-edit" data-id="{{id}}">EDIT THIS BITE</button>
          <input type="text" class="edit-input" id="bite-update" style="display: none;">
          <button class="btn btn-sm btn-danger" id="edit-submit" style="display: none;">Submit Edit</button>
                <button class="btn btn-sm btn-danger" id="bite-delete" data-id="{{id}}">DELETE THIS BITE</button>

      </div>
    </div>
 </div>


  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
   <p>
{{#if image_url}}
    <img src="{{image_url}}" alt="Bite Image">
  {{/if}}
     {{#if comments.length}}
  <div class="col-md-6 comment-list">
    <h3>Comments</h3>
{{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment.content}}</p>
          <p>Created by {{user.name}} on {{format_date date_created}}</p>

      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" id="comment-delete" data-id="{{comment.id}}">DELETE THIS COMMENT</button>
      </div>
    </div>
    {{/each}}
{{/if}}
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <input class="form-input" type="text" id="comment-content" name="comment-content" />
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="comment-submit" data-id="{{id}}">Submit</button>
      </div>
    </form>
  </div>  </p>


<script src="/js/bite.js"></script>
