
<div class="text-center">
 
  <h2>
    {{headline}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p id="bite-content">{{content}}</p>

  <p>Created by {{user.name}} on {{format_date date_created}}</p>


  <div class="col-md-6 bite-list">
    <div class="row mb-2">
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" id="bite-edit" data-id="{{id}}">EDIT THIS BITE</button>
          <input type="text" class="edit-input" id="bite-update" style="display: none;">
          <button class="btn btn-sm btn-danger" id="edit-submit" style="display: none;">Submit Edit</button>
                <button class="btn btn-sm btn-danger" id="bite-delete" data-id="{{id}}">DELETE THIS BITE</button>
      </div>
    </div>
 </div>


  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
   


{{!-- CHRIS: we're going to need to change this at some point so it can display multiple phots for one bite. To do that, we'll have to have it loop through an array of photos sort of like it does for comments further down (#each comments as |comment|). UPDATE: because bite hasMany photos, we need to do this anyway. Right now, the server is sending back a photos array which is why photos.image_url doesn't display.  --}}
{{#if photos.length}}
    <div class="col-md-6 photo-list">
    <h3>Photos</h3>
{{#each photos as |photo|}}
    <div class="row mb-2">
          <img src="{{photo.image_url}}" alt="Bite Image">

      <div class="col-md-4">
        {{!-- CHRIS TO DO: add an event handler at the bottom of bite.js and language in the body of bite.js to make this delete button work. It'll be very similar to the comment delete button. You'll need to make the function for the event handler be a DELETE command sent to the photo/:id, and then you'll need to make sure that the fetch request in that function matches the route in the photoRoutes controller. --}}
        <button class="btn btn-sm btn-danger" id="photo-delete" data-id="{{photo.id}}">DELETE THIS PHOTO</button>
      </div>
    </div>
    {{/each}}
    </div>


  {{/if}}
     {{#if comments.length}}
     
  <div class="col-md-6 comment-list">
    <h3>Comments</h3>
{{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p id="ebite-content" data-id="{{comment.id}}">{{comment.content}}</p>
          <p>Created by {{user.name}} on {{format_date date_created}}</p>

      </div>
       <div class="col-md-4 edit-buttons">
        <button class="btn btn-sm btn-danger" id="ebite-edit" data-id="{{comment.id}}">EDIT COMMENT</button>
          <input type="text" class="edit-input" id="ebite-update" data-id="{{comment.id}}" style="display: none;">
          <button class="btn btn-sm btn-danger" id="eedit-submit" data-id="{{comment.id}}" style="display: none;">Submit edit</button>
          </div>
      <div class="col-md-4 delete-buttons">
        <button class="btn btn-sm btn-danger" id="comment-delete" data-id="{{comment.id}}">DELETE THIS COMMENT</button>
      </div>
    
    {{/each}}
{{/if}}
</div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <input class="form-input" type="text" id="comment-content" name="comment-content" />
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="comment-submit" data-id="{{id}}">Submit</button>
      </div>
    </form>
  </div>



<script src="/js/bite.js"></script>
