{{!-- TO DO: UPDATE array names, remove emojis, update href, basically all the variables in double squigglies need to match the information in the DB tables --}}

<!-- Loop over each object in the projects array -->
{{#each bites as |bite| }}
<div class="row mb-4 bite">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!--  DO WE WANT AN EMOJI HERE? {{{get_emoji}}} --}}
      <a href="/bites/{{bite.id}}">{{bite.headline}}</a>
    </h2>
    <p>
      {{!-- Do we want an emoji here? <span for="img" aria-label="money">💲</span> --}}
      <!-- Pass needed_funding value to the helper function -->
      {{!-- <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed! --}}
    </p>
    <p>Created by {{bite.user.name}} on {{format_date bite.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{bite.content}}
    </p>
  </div>
</div>
{{/each}}
